<!DOCTYPE html>
<html>
  <head>
    <title>Nong - {{section}}</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <link id="bootcss" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/readable/bootstrap.min.css">
    <link id="bootjs" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js">
  </head>
	<body>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
        <div class="navbar-header">

            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
            </button> <a class="navbar-brand" href="#">Nong</a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Api</a>
                </li>
                <li>
                    <a href="#">Plugin</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {{#if_eq user undefined}}
                <a href="/login">Login</a>
            {{else}}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.email}}<strong class="caret"></strong></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">Profile</a>
                        </li>
                        <li>
                            <a href="/logout">Logout</a>
                        </li>
                    </ul>
                </li>
            {{/if_eq}}



            </ul>
        </div>
        </div>
    </nav>

   <div class="container">
    <h1>{{title}}</h1>
    <div class="voffset5"></div>
    {{{body}}}
  </div>
	</body>
</html>